.bgcard{
    width: 75vw;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

.card{
    background-color: #A0C334;
    height: 80%;
    min-width: 18vw;
    margin: 1%;
    padding: 2%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.tombolcard{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 8%;
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    color: #6486FF;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.7);
    cursor: pointer;
    z-index: 99;
    margin-bottom: 40%;
    margin-left: 60%;
}

